:root {
    --c-1: hsl(238, 29%, 16%);
    --c-2: hsl(14, 88%, 65%);
    --c-3: hsl(240, 5%, 91%);

    --n-1: hsl(237, 12%, 33%);
    --n-2: hsl(240, 6%, 50%);
    --n-3: white;

    --f-1: 'Kumbh Sans', sans-serif;
}



.faq, .faq::before, .faq::after, .faq *, .faq *::after, .faq *::before 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.faq {
    font-size: 0.75rem;
    font-family: var(--f-1);
    margin-top: 9em;
    background: var(--n-3);

    border-radius: 5%;
    text-align: center;

    color: var(--c-1);

    padding-bottom: 3.5em;

    max-width: 922px;
}



.faq__img-box {
    display: none;
}

.faq__img-desktop-container {
    display: none;
}

.faq__img-mobile-container {
    position: relative;
    top: -110px;
    left: 50%;
    transform: translateX(-55%);
    width: fit-content;
    height: fit-content;
}



.faq__img-mobile-container::before {
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 105px;
    left:30px;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
}



.faq__faq {
    margin-top: -6em;
    width: 86.2%;
    margin-left: auto;
    margin-right: auto;
}

.faq__faq > * {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
}
.faq__title {
    font-size: 2.5em;    
    margin-bottom: 1em;
}

.faq__accordion {
    text-align: left;
}


.faq__qa {
    color: var(--n-2);
    padding: 1.2em 0;
    border-bottom: solid 1px var(--c-3);
}



.faq__question {
    font-size: 1.15em;
    position: relative;
    cursor:pointer;
}

.faq__qa--selected .faq__question {
    color: var(--n-1);
    font-weight: 700;
}


.faq__question::after {
    content: '';
    width: 10px;
    height: 7px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/icon-arrow-down.svg);

}
.faq__qa--selected .faq__question::after {
    transform:translateY(-50%) rotate(180deg);
}



.faq__answer {
    display: none;
    margin-top: 1.2em;
    line-height: 1.6;
}


.faq__qa--selected .faq__answer {
    display: block;
}



@media (min-width:1024px)
{
    .faq {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 5.83em 0;
        align-content: center;
        text-align: left;
        font-size: 0.8rem;
    }


    .faq__img-mobile-container {
        display: none;
    }

    .faq__img-desktop-container{
        display: block;
        position: relative;
        z-index: 0;
        overflow: hidden;
    }
    .faq__img-desktop {
        position: relative;
        left: -70px;
    }

    .faq__img-container {
        position: relative;
    }

    .faq__img-box {
        display: block;
        position: absolute;
        left: -90px;
        top: calc(50% - 40px);
        z-index: 1;
    }

   


    .faq__faq {
        margin-top: 0;
    }

    .faq__faq > * {
        margin-left: 0;
        margin-right: auto;
    }
}